@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Book_Store.Models.ViewModels.RegisterViewModel
@{
  ViewBag.Title = "Register";
}

<h2>@localizer["Register"]</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post" asp-controller="Account" asp-action="Register">
  <div class="form-group row">
    <div class="col-sm-2"><label>@localizer["Username"]:</label></div>
    <div class="col-sm-4">
      <input type="text" asp-for="Username" class="form-control" />
    </div>
    <div class="col">
      <span asp-validation-for="Username" class="text-dager"></span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"><label>@localizer["Password"]:</label></div>
    <div class="col-sm-4">
      <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="col">
      <span asp-validation-for="Password" class="text-dager"></span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"><label>@localizer["Confirm Password"]:</label></div>
    <div class="col-sm-4">
      <input type="password" asp-for="ConfirmPassword" class="form-control" />
    </div>
    <div class="col">
      <span asp-validation-for="ConfirmPassword" class="text-dager"></span>
    </div>
  </div>
  <div class="row">
    <div class="offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary">@localizer["Register"]</button>
    </div>
  </div>
  <div class="row">
    <div class="offset-2 col-sm-4">
      @localizer["Already Registered"]? <a asp-controller="Account" asp-action="LogIn">@localizer["Login"]</a>
    </div>
  </div>
</form>

