@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Book_Store.Areas.Admin.Models.UserViewModel
@{
  ViewData["Title"] = " | Manage Users";
}

<h1 class="mb-2">@localizer["Manage Users"]</h1>
<h5 class="mt-2"><a asp-controller="User" asp-action="Add">@localizer["Add User"]</a></h5>

<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th>@localizer["Username"]</th>
      <th>@localizer["Roles"]</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @if (Model.Users.Count() == 0)
    {
      <tr><td colspan="5">There are no users</td></tr>
    }
    else
    {
      @foreach (Book_Store.Models.DomainModels.User user in Model.Users)
      {
        <tr>
          <td>@user.UserName</td>
          <td>
            @foreach (string roleName in user.RoleNames)
            {
              <div>@roleName</div>
            }
          </td>
          <td>
            <form method="post" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">
              <button type="submit" class="btn btn-primary">@localizer["Delete User"]</button>
            </form>
          </td>
          <td>
            <form method="post" asp-controller="User" asp-action="AddToAdmin" asp-route-id="@user.Id">
              <button type="submit" class="btn btn-primary">@localizer["Add to Admin"]</button>
            </form>
          </td>
          <td>
            <form method="post" asp-controller="User" asp-action="RemoveFromAdmin" asp-route-id="@user.Id">
              <button type="submit" class="btn btn-primary">@localizer["Remove from Admin"]</button>
            </form>
          </td>
        </tr>
      }
    }
  </tbody>
</table>